@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "QFG Character Editor";
    ViewBag.SelectedTab = "MagicStats";
}

<form id="mainForm" method="post" action="">
    <table cellpadding="0" cellspacing="0" border="0" class="tableData">
    <tr>
        <td class="tblHeading">Open:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Detect:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Trigger:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Dazzle:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Zap:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Calm:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Flame:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Fetch:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Force Bolt:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Levitate:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>
    <tr>
        <td class="tblHeading">Reversal:</td>
        <td>
            <input type="text" name="txtStrength" class="inputStat" maxlength="3" />
        </td>
    </tr>

    </table>
</form>